*{
    transition: .3s;
    margin: 0;
}
*:hover,*::after,*::before{
    transition: .1s;
}

body{
    background: rgb(26, 26, 26);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}

section{
    height: 535px;
    border: 1px solid;
    background: white;
    margin: 0px auto;
    margin-top: 400px;
    color: black;
    position: relative;
}
.info_block{
    width: 45%;
    background: rgb(240, 238, 238);
    margin: 0px auto;
    border-radius: 10px;
    /* height: 30px; */
    position: relative;
    top: -100px;
    box-shadow: 0px 2px 15px rgb(88, 88, 88);
}
.header{
    background: rgb(255, 247, 222);
    height: 150px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid rgb(177, 177, 177);
}
.info_block .body{
    padding: 40px;
}
.avatar{
    position: absolute;
    top: 70px;
    left: 0;
    border-radius: 50%;
    border: 5px solid white;
    /* overflow: hidden; */
    right: 0;
    z-index: 10;
    display: block;
    margin: 0px auto;
    width: fit-content;
    max-height: 128px;
    box-shadow: 2px 2px 10px silver;
}
.avatar img{
    border-radius: 50%;
    z-index: 2;
    position: relative;
    display: block;
    border: 1px solid silver;
}

.content{
    margin: 0px auto;
    margin-top: 50px;
    width: 100%;
    text-align: center;   
}
.content p{
    font-size: 18px;
    text-transform: capitalize;
}
.content h2{
    font-size: 36px;
}

ul.nav{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 20px;
    font-size: 26px;
}
ul.nav > * {
    display: block;
    padding: 20px 40px;
    color: rgba(87, 0, 250, 0.479);
}
ul.nav li:hover{
    color: rgba(19, 102, 255, 0.712);
    /* text-shadow: 0px 0px 2px; */
}
.btn{
    background: red;    
    display: block;
    max-width: 120px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 0px 15px rgba(119, 119, 119, 0.644);
}
.btn:hover{
    background: rgb(106, 0, 206);
    box-shadow: 0px 0px 15px rgba(119, 119, 119, 0.548);
}